*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h4 {
  font-family: "DM Serif Display", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 12%;
  background-color: #fafafa;
  position: relative;
  z-index: 100;
}

header #logo-con {
  margin-right: 10%;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}

header nav ul li {
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #837d87;
}

header nav ul li:hover {
  border: 2px solid #2d2640;
  cursor: pointer;
  color: #2d2640;
}

header nav ul .link-clicked {
  background-color: #2d2640;
  color: #fafafa;
}

header nav ul .link-clicked:hover {
  color: #fafafa;
}

header .mobile-nav-controls {
  display: none;
}

.pattern-img-con #pattern-left {
  position: absolute;
  top: 350px;
  left: 0px;
}

.pattern-img-con #pattern-right {
  position: absolute;
  top: 90px;
  height: 400px;
  width: 30%;
  right: 0px;
}

.mobile-hero-left-pattern-con,
.mobile-hero-right-pattern-con {
  display: none;
}

.mobile-nav {
  display: none;
}

#hero-section {
  height: 500px;
  padding: 60px 12%;
  margin-bottom: 300px;
  color: #fafafa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 40%;
  grid-template-areas: "text img";
  background-color: #2b272f;
}

#hero-section #hero-img-con {
  grid-area: img;
  width: 100%;
}

#hero-section #hero-img-con img {
  width: 100%;
  margin-top: 5px;
}

#hero-section #hero-text-con {
  margin-top: 60px;
  padding-right: 4%;
}

#hero-section #hero-text-con h1 {
  font-size: 3.125em;
}

#hero-section #hero-text-con p {
  margin-bottom: 20px;
}

#hero-section #hero-text-con button {
  background-color: inherit;
  color: #fafafa;
  border: 1px solid #fafafa;
  text-transform: uppercase;
  width: 150px;
  padding: 10px 2%;
  cursor: pointer;
}

#hero-section #hero-text-con button:hover {
  background-color: #fafafa;
  color: #2b272f;
}

#why-us-main-con,
.how-we-work-flex-con {
  margin: 0px 12%;
}

#why-us-main-con h1 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

#why-us-main-con #why-us-grid-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-areas: "process prices people";
  margin-bottom: 100px;
}

#why-us-main-con #why-us-grid-con .why-us-min-con img,
#why-us-main-con #why-us-grid-con .why-us-min-con h4,
#why-us-main-con #why-us-grid-con .why-us-min-con p {
  margin-bottom: 15px;
}

#why-us-main-con #why-us-grid-con #process {
  grid-area: process;
}

#why-us-main-con #why-us-grid-con #prices {
  grid-area: prices;
}

#why-us-main-con #why-us-grid-con #people {
  grid-area: people;
}

#how-we-work .how-we-work-flex-con {
  display: grid;
  grid-template-columns: 50% 20%;
  grid-template-rows: 80px;
  padding: 50px 0% 30px 5%;
  background-color: #2d2640;
  column-gap: 20%;
  color: #fafafa;
  margin-bottom: 100px;
  height: 200px;
}

#how-we-work .how-we-work-flex-con h2 {
  padding-right: 18%;
  font-size: 2.5em;
  width: 100%;
}

#how-we-work .how-we-work-flex-con button {
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  padding: 0 4%;
  margin-top: 30px;
  background-color: inherit;
  color: #fafafa;
  border: 1px solid #fafafa;
  cursor: pointer;
  z-index: 20;
}

#how-we-work .how-we-work-flex-con button:hover {
  background-color: #fafafa;
  color: #2b272f;
}

#how-we-work .pattern-con {
  position: relative;
  width: 100%;
}

#how-we-work .pattern-con img {
  position: absolute;
  width: 350px;
}

#how-we-work .pattern-con img:first-child {
  right: 160px;
  top: -300px;
}

#how-we-work .pattern-con img:last-child {
  display: none;
}

footer {
  padding: 60px 12%;
  background-color: #fafafa;
}

footer .footer-pattern-con {
  position: relative;
}

footer .footer-pattern-con img {
  position: absolute;
}

footer .footer-pattern-con img:first-child {
  width: 450px;
  left: -150px;
  top: -60px;
}

footer .footer-pattern-con img:last-child {
  display: none;
}

footer #images-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #95a9c6;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

footer #images-con #social-media-img-con img:hover {
  cursor: pointer;
}

footer #details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

footer #details ul {
  list-style: none;
  text-transform: uppercase;
}

footer #details ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

footer #details ul li:first-child {
  color: #95a9c6;
  margin-bottom: 20px;
}

footer #details .links {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  header #logo-con {
    margin-right: 5%;
  }
  header nav {
    width: 60%;
  }
  #how-we-work-flex-con {
    column-gap: 20%;
  }
  #how-we-work-flex-con h2 {
    padding-right: 15%;
    font-size: 2.5em;
    width: 100%;
  }
  #how-we-work-flex-con .btn {
    width: 80%;
  }
}

@media screen and (max-width: 1048px) {
  body {
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }
  #how-we-work-flex-con h2 {
    padding-right: 1%;
    font-size: 2.3em;
    width: 100%;
  }
  #how-we-work-flex-con .btn {
    width: 100%;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 940px) {
  header {
    padding: 30px 4%;
  }
  header nav {
    display: none;
  }
  header .mobile-nav-controls {
    display: block;
    cursor: pointer;
    position: relative;
  }
  header .mobile-nav-controls #cross {
    position: absolute;
    right: 1px;
    top: 0px;
  }
  header .mobile-nav-controls .close-menu {
    display: none;
  }
  .pattern-img-con {
    display: none;
  }
  .show-nav-con {
    display: block;
    background-color: #2b272f;
    height: 500px;
    height: auto;
    padding: 0px;
    padding-top: 50px;
    font-size: 1.2em;
  }
  .show-nav-con ul {
    margin-bottom: 70px;
  }
  .show-nav-con ul li {
    padding: 5px 20%;
    text-transform: uppercase;
    color: #fafafa;
    width: 100%;
    margin-bottom: 20px;
  }
  .show-nav-con ul li:hover {
    border: 2px solid #fafafa;
    cursor: pointer;
  }
  .show-nav-con .mobile-nav-pattern-con {
    width: 100%;
  }
  .show-nav-con .mobile-nav-pattern-con img {
    width: 100%;
  }
  #hero-section {
    height: auto;
    padding: 0px;
    padding-bottom: 30px;
    display: block;
  }
  #hero-section #hero-img-con {
    height: 500px;
    width: 100%;
  }
  #hero-section #hero-img-con img {
    height: 500px;
    width: 100%;
    margin-top: 0px;
  }
  #hero-section #hero-text-con {
    margin-top: 80px;
    padding: 0px 10%;
    margin-bottom: 100px;
    text-align: center;
  }
  #hero-section #hero-text-con h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  #hero-section #hero-text-con p {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .mobile-hero-right-pattern-con,
  .mobile-hero-left-pattern-con {
    display: block;
    position: relative;
  }
  .mobile-hero-right-pattern-con img,
  .mobile-hero-left-pattern-con img {
    position: absolute;
  }
  .mobile-hero-left-pattern-con img {
    left: 0px;
    width: 300px;
  }
  .mobile-hero-right-pattern-con img {
    width: 180px;
    top: -500px;
    right: 0px;
  }
  #why-us-main-con h1 {
    font-size: 2em;
    margin-bottom: 40px;
  }
  #why-us-main-con #why-us-grid-con {
    display: block;
    margin-bottom: 100px;
  }
  #why-us-main-con #why-us-grid-con .why-us-min-con p {
    font-size: 0.7em;
  }
  #why-us-main-con #why-us-grid-con .why-us-min-con {
    padding: 0px 10%;
    font-size: 2em;
  }
  #why-us-main-con #why-us-grid-con .why-us-min-con p {
    color: #837d87;
  }
  #how-we-work .how-we-work-flex-con {
    display: block;
    padding: 30px 10%;
    height: 250px;
  }
  #how-we-work .how-we-work-flex-con h2 {
    font-size: 2em;
    font-weight: 600;
    padding-right: 0px;
  }
  #how-we-work .how-we-work-flex-con .btn {
    width: 150px;
    margin-bottom: 40px;
  }
  #how-we-work .pattern-con {
    position: relative;
    width: 100%;
  }
  #how-we-work .pattern-con img {
    position: absolute;
    width: 350px;
  }
  #how-we-work .pattern-con img:first-child {
    display: none;
  }
  #how-we-work .pattern-con img:last-child {
    display: block;
    width: 140px;
    top: -350px;
    right: 100px;
  }
}

@media screen and (max-width: 680px) {
  #why-us-main-con h1 {
    font-size: 2em;
  }
  #why-us-main-con #why-us-grid-con {
    display: block;
    margin-bottom: 100px;
  }
  #why-us-main-con #why-us-grid-con .why-us-min-con img,
  #why-us-main-con #why-us-grid-con .why-us-min-con h4,
  #why-us-main-con #why-us-grid-con .why-us-min-con p {
    margin-bottom: 15px;
  }
  #why-us-main-con #why-us-grid-con .why-us-min-con p {
    font-size: 0.6em;
    color: #837d87;
  }
}

@media screen and (max-width: 540px) {
  footer {
    padding-top: 100px;
  }
  footer #images-con {
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  footer #details {
    display: block;
  }
  footer ul {
    margin-bottom: 50px;
  }
  footer .footer-pattern-con {
    position: relative;
  }
  footer .footer-pattern-con img {
    position: absolute;
    width: 100%;
  }
  footer .footer-pattern-con img:first-child {
    display: none;
  }
  footer .footer-pattern-con img:last-child {
    display: block;
    width: 350px;
    left: -40px;
    top: -90px;
  }
}
/*# sourceMappingURL=styles.css.map */