html,body{
     box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 16px;
    font-weight:400;
    margin:0;
    padding:0 45px;
    background-color: hsl(0, 0%, 98%);
}

header{
    display:flex;
    justify-content: space-between;
}