html,body{
     box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 16px;
    font-weight:400;
    margin:0;
    /* position:relative; */
    background-color: hsl(0, 0%, 98%);
}
/* Header Styles */
header{
    display:flex;
    justify-content: space-between;
    padding:20px 15px;
    text-align: left !important;
    position:relative; /* For Changing the positon of the close image  */
}
/* close image Styles */
.close-img{
    display: none; /* not to be shown intially */
}

/* display Harmburger Menu */
.show-close-menu{
    position:absolute;
    right:15px;
    display: block;
}
/* Close Harmburger */
.close-harmburger{
    display: none;
}
/* Desktop-Nav to be displayed in Desktop Styles */
#desktop-nav {
    display: none
}

/* Navbar style */
.show-nav{
 
    padding:30px 20px;
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: hsl(270, 9%, 17%);
    color:white;
    height:600px;
    font-size:1.7em;/* 27.2px */
    font-weight:700;   
}
.hide-nav{
    display: none;
}
nav ul li:hover{
    border:2px solid hsl(0, 0%, 98%);
}
nav ul li{
     list-style: none;
    margin:20px;
    padding:10px;
    text-transform: uppercase;
}
/* Hero Styles */
#hero-section{
    margin-bottom:100px
}
#hero-img-con img{
    width:100%;
    height:350px;
    margin:0
}
#hero-img-con{
    margin:0;
}
#hero-text-con{
    background-image: url(../images/bg-pattern-intro-left-mobile.svg),
    url(../images/bg-pattern-intro-right-mobile.svg);
    background-color: hsl(256, 26%, 20%);
     background-repeat: no-repeat;
     background-position: top left,100% 230px;
    color:white;
    padding:60px 40px 20px 45px;
    margin-top:-10px;
}
#hero-text-con h1{
   font-size:2.7em;
   padding:0;
   margin:0;
}

/* Button Generic Styles */
.btn{
    color:hsl(0, 0%, 98%);
    background-color:hsl(256, 26%, 20%);
    border:2px solid hsl(273, 4%, 51%);
    width:35%;
    padding:10px;
    text-transform: uppercase;
    margin-bottom:40px;
}
/* why-us-main-con Section Styles */
#why-us-main-con h1{
    font-size: 3.4em; /* 54.4px */
    font-weight: 700;
}
#why-us-main-con{
    margin-bottom: 200px;
}

/* why-us-min-con Styles */
.why-us-min-con img{
    width:30% ;
    margin-bottom:20px;
}
.why-us-min-con h4{
    font-size:2em
}
.why-us-min-con p{
    padding: 0 70px;
    margin-bottom: 60px;
}
/* how-we-work  Styles*/
#how-we-work{
    padding:20px 20px;
    background-color: hsl(256, 26%, 20%);
    width: 90%;
    margin:30px auto;
    margin-bottom: 300px;
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    color:hsl(0, 0%, 98%)
}
#how-we-work h2{
    font-size:3em; /* 48px */
    font-weight: 700;
}
#how-we-work-btn{
    width:40%
}

/* Footer Styles */
footer ul{
    list-style: none;
    text-transform: uppercase;
}
#images-con{
    height:200px;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
}
#images-con> img:first-child{
    margin:30px;

}
#social-media-img-con > img{
    margin:0 7px;
}
/* Service Section Styles */
.service> li:first-child{
    font-size:1.5em;/* 24px */
    color:hsl(273, 4%, 51%);
    margin:50px 0;
    padding:0;
}
.service li{
    padding: 10px
}

/* Desktop Styles */
@media screen and (min-width:1440px){
    /* Button Generic Styles */
    .btn{
        background-color: white;
        color:hsl(256, 26%, 20%);
        width:25%;
        cursor: pointer;
    }
    /* Header Styles */
    header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-right: 40px;
    }
    header #logo-img-con{
        margin-left:160px;
        margin-top: 20px;

    }
    /* show Desktop Nav */
    #desktop-nav {
        display: block;
    }

    /* Turn the Desktop Nav to a Flex-container */
    #desktop-nav ul {
        display:flex;
        margin-top:-10px;
        cursor: pointer;
    }
    #desktop-nav ul li:hover{
        cursor:pointer
    }
    /* To remove Harmburger and close image */
    span{
        display:none;
    }
    
    /* Desktop Hero Section */
    #hero-section{
        background-image: url(../images/bg-pattern-intro-left-desktop.svg),
        url(../images/bg-pattern-intro-right-desktop.svg);
        background-repeat: no-repeat;
        background-position: 0 300px, 93% -180px;
        background-color: hsl(256, 26%, 20%);
        display:grid;
        grid-template: 350px/ 1fr 1fr;
        grid-template-areas: 'text image';
        padding: 50px 40px;
        grid-gap: 0 200px;
    
    }
    #hero-img-con{
        grid-area:image;
        z-index: 0;
        width: 70%;
    }
    #hero-img-con img {
        height: auto;
        margin-top:20px
    }
    #hero-text-con{
        grid-area:text;
        padding-right:50px;
        margin-left:100px;
        text-align: left;
        background-image: none;
        background-color:none;
    }
    #hero-text-con h1{
        font-size:3em;/* 48px */
        padding:0
    }

    /* why-us-main-con Section Styles */
    #why-us-main-con{
        margin:300px 200px 50px 200px;
        text-align: left;
        
    }
    #why-us-main-con h1{
        font-size: 4em;/* 64px */
        margin-bottom:100px;
    }
    /* why-us-min-con Grid styles */
    #why-us-grid-con{
        display:grid;
        grid-template:1fr/1fr 1fr 1fr;
        grid-gap:0 20px;
        margin:0
    }
    .why-us-min-con p{
        padding:0 0px 0 0 ;
        font-size:0.81em ;/* 12.96px */
    }

    /* how-we-work Section Styles */
    #how-we-work{
        display:grid;
        text-align:left;
        grid-template: 1fr/500px 400px;
        grid-gap:0 200px;
        margin:0 200px;
        width:75%;
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: 100% 0;
    }
    #how-we-work h2{
       padding:0  30px 0 20px;
        margin-left:30px
    }
    #how-we-work button{
        width:35%;
        height:40px;
        margin: 70px 50px 50px 50px;
        cursor: pointer;
        color:white;
        background-color:hsl(256, 26%, 20%);
    }
    /* Footer Styles */
    #images-con{
        display: flex;
        justify-content: space-between;
        margin:200px 100px 0 200px;
    }
    #images-con >img:first-child{
        width:10%;
        height:20px
    }
    #social-media-img-con {
        margin-top:40px
    }
    #details{
        display: flex;
        margin:0 300px 50px 150px;
        justify-content: space-between;
    }
    .service li{
        cursor: pointer;
    }


}
